<div class="tes mt-3">
    <div class="content33" style="margin-top: 100px; margin-bottom: 50px;">
        <div class="container">
            <form name="loginForm">
                <div class="taitel">
                    <h2 class="text-center pt-4 mb-4">Đăng nhập</h2>
                </div>
                <label for="user">Username</label>
                <input type="text" class="form-control" id="user"
                    ng-model="user" placeholder="Nhập username..."><br>

                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass"
                    ng-model="pass" placeholder="Nhập pass..."><br>

                <button type="button" class="btn btn-primary"
                    ng-click="login()">Đăng nhập</button>
            </form>
        </div>
    </div>
</div>
