<div class="container">
    <div class="taitel">
        <h2 class="text-center pt-4 mb-4">Đăng Ký</h2>
    </div>
    <form>
        <div class="mb-3">
            <label for="productName" class="form-label">Username</label>
            <input type="text" class="form-control" id="productName" placeholder="Nhập username...">
        </div>
        <div class="mb-3">
            <label for="productName" class="form-label">Email</label>
            <input type="text" class="form-control" id="productName" placeholder="Nhập email...">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Mật Khẩu</label>
            <input type="text" class="form-control" id="productPrice" placeholder="Nhập pass...">
        </div>
        <div class="pb-3  text-center ">
            <button type="submit" class="btn btn-primary">Đăng Ký</button>
        </div>
    </form>
</div>