<div class="container">
    <div class="taitel">
        <h2 class="text-center pt-4 mb-4">{{title}}</h2>
    </div>
    <div class="content pb-3 ">
        <table class="text-center table table-bordered table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Địa điểm</td>
                    <td>Giá</td>
                    <td>Hình</td>
                    <td>Phân Loại</td>
                    <td>Action</td>
                </tr>
            </thead>
            <!-- | limitTo:3 -->
            <tbody>
                <tr ng-repeat="pr in products | orderBy:'gia' | filter:tkiem ">
                    <td>{{$index+1}}</td>
                    <td>{{pr.diemxuatphat}} --> {{pr.diemden}}</td>
                    <td>{{pr.gia | number}} VND</td>
                    <td><img ng-src="{{pr.hinhanh}}" alt="" height="80"></td>
                    <td ng-if="pr.phanloai == 1">1 chiều</td>
                    <td ng-if="pr.phanloai == 0">2 chiều</td>
                    <td><a href="#!/chitiet/{{pr.id}}"><button class="btn btn-warning">Chi tiết</button></a>|<a
                            href="#!/sua/{{pr.id}}"><button class="btn btn-warning">Sửa</button></a>|<button
                            class="btn btn-danger" ng-click="deletePro(pr.id)">Xóa</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <center>
        <div class="pation align-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center"> <!-- Thêm class justify-content-center -->
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" ng-click="prev()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" ng-click="next()">
                            <span aria-hidden=" true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </center>
</div>