<div class="container">
    <div class="taitel">
        <h2 class="text-center pt-4 mb-4">{{hi}}</h2>
    </div>
    <div class="content pb-3 ">
        <table class="text-center table table-bordered table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Họ và Tên</td>
                    <th>Địa điểm</th>
                    <th>Phân Loại</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bk in booking | orderBy:'gia' | filter:tkiem ">
                    <td>{{$index+1}}</td>
                    <td>{{bk.hoten}}</td>
                    <td>{{bk.diemkhoihanh}} -->
                        {{bk.diemketthuc}}</td>
                    <td ng-if="bk.phanloai == 1">1 chiều</td>
                    <td ng-if="bk.phanloai == 0">2 chiều</td>
                    <td><a href="#!/chitiet/{{bk.id}}"><button
                                class="btn btn-warning">Chi tiết</button></a>|<a
                            class="btn btn-danger"
                            ng-click="deletePro(bk.id)">Xóa</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>